.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(20, end), blink-caret 0.5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.welcome-view-background {
  background: url('@/assets/earth.gif') center no-repeat;
  background-color: black;
  color: transparent;
  font-family: 'anton';
}

.welcome-view-layout {
  backdrop-filter: brightness(10%);
}

.welcome-view-title {
  padding: 1rem;
  background: url('@/assets/earth.gif') center no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: 'anton';
  -webkit-text-stroke: 2px white;
}
