.background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: whitesmoke;
    background-size: 100% 100%;
}

.logo{
    width: 500px;
    height: 80px;
    background: url("images/logoTwo.png");
    background-size: 100% 100%;
    margin: 15px;
}

.navigationBar{
    position: absolute;
    top: 18%;
    bottom: 0;
    left: 0;
    right: 83%;
    background: #FFFFFF
}

