.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("images/backgroundImage.png");
    background-size: 100% 100%;
}

.signInCard{
    position: absolute;
    top:15%;
    right: 10%;
    left: 10%;
    bottom: 15%;
    border-radius: 10px ;
    background-color: snow;
    box-shadow: 0 0 10px 5px #aaa;
}

.signInCardImage{
    position: absolute;
    top:0;
    right: 30%;
    left: 0;
    bottom: 0;
    background: url("images/signInPageCardImage.png");
    background-size: 100% 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.logo{
    position: absolute;
    top: 3%;
    left: 3%;
    height: 69px;
    width: 246px;
    background: url("images/logo.png");
    background-size: 100% 100%;
}

.arco-tabs-header-title-text{
    font-size: 18px;
}

.arco-tabs-header-nav{
    display: inline-block;
    vertical-align: middle;
}

.arco-icon{
    height: 22px;
    width: 22px;
}

.arco-icon-down{
    height: 12px;
    width: 12px;
}

.arco-tabs-content{
    padding: 0;
}

.accountWrapper{
    height: 60px;
    width: 325px;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-family: sans-serif ;
}

.accountWrapper .box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item1{
    color: #73757E;
}

.item2{
    color: #0c4af9;
}

#otherSignIn{
    border-bottom-right-radius:10px ;
    height: 65px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    left: 70%;
    bottom: 0;
    text-align:  center;
}
#otherSignInText{
    color: #0c4af9;
    font-size: 17px;
    font-family: sans-serif;
    position: absolute;
    left:5%;
}

#qq{
    position: absolute;
    left:40%;
    top:20%;
    height: 40px;
    width: 40px;
    background: url("images/otherWayToSignIn/qq.png") no-repeat;
}

#wechat{
    position: absolute;
    left:55%;
    top:20%;
    height: 40px;
    width: 40px;
    background: url("images/otherWayToSignIn/wechat.png") no-repeat;
}

.language{
    position: absolute;
    left: 80%;
    top:5%;
    width: 154px;
}

